* {
    line-height: 1.5;
}
body {
    margin: 2rem;
    padding: 2rem;
    font-size: 25px;;
}
header {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(14, 1, 1);
}
.main-container {
    display: flex;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.info {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 50%;
}
.btn {
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}
.scorebtn {
    background-color: lightgrey;
    color: black;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}
.qncontainer {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
}
.answerBtn {
    margin-top: 0.5rem;
    padding: 1rem;
    width: 50%;
}
.hide {
    display: none;
}